In [1]:
import pandas as pd

In [2]:
# Read the Excel file
data = pd.read_excel('./data/unprocessed/rainfallData.xls')

In [3]:
data.columns = map(str.lower, data.columns)

In [4]:
# drop if id column is nan
data = data.dropna(subset=['id'])
# drop unwanted columns
data = data.drop(columns=['id', 'longitude', 'latitude', 'elevation', 'code', 'abbreviation'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18 entries, 0 to 17
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   station_name  18 non-null     object
 1   yyyy          18 non-null     object
 2   jan           18 non-null     float64
 3   feb           18 non-null     float64
 4   mar           18 non-null     float64
 5   apr           18 non-null     float64
 6   may           18 non-null     float64
 7   jun           18 non-null     float64
 8   jul           18 non-null     float64
 9   aug           18 non-null     float64
 10  sep           18 non-null     float64
 11  oct           18 non-null     float64
 12  nov           18 non-null     float64
 13  dec           18 non-null     float64
dtypes: float64(12), object(2)
memory usage: 2.1+ KB

In [5]:
def month_to_column(month):
    months = ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec']
    return months[month - 1]

In [6]:
# Create an empty DataFrame to store the reshaped data
reshaped_data = pd.DataFrame(columns=['anuradhapura', 'jaffna', 'nuwaraeliya', 'year', 'month'])

# Iterate over years from 2017 to 2022
for year in range(2017, 2023):
    rows = data[data['yyyy'] == year].iterrows()
    # temp variable to store the all the stations month data
    anuradhapura = []
    jaffna = []
    nuwaraeliya = []
    # iterate over the rows and append month data
    for index, row in rows:
        for month in range(1, 13):
            if row['station_name'] == 'ANURADHAPURA':
                anuradhapura.append(row[month_to_column(month)])
            elif row['station_name'] == 'JAFFNA':
                jaffna.append(row[month_to_column(month)])
            elif row['station_name'] == 'NUWARA ELIYA':
                nuwaraeliya.append(row[month_to_column(month)])
    # iterate over the months and append the data to the reshaped DataFrame
    for month in range(1, 13):
        reshaped_data = pd.concat([reshaped_data, pd.DataFrame({'anuradhapura': [anuradhapura[month-1]], 'jaffna': [jaffna[month-1]], 'nuwaraeliya': [nuwaraeliya[month-1]], 'year': [year], 'month': [month]})])

/tmp/ipykernel_13423/3068540172.py:22: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  reshaped_data = pd.concat([reshaped_data, pd.DataFrame({'anuradhapura': [anuradhapura[month-1]], 'jaffna': [jaffna[month-1]], 'nuwaraeliya': [nuwaraeliya[month-1]], 'year': [year], 'month': [month]})])

In [7]:
reshaped_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 72 entries, 0 to 0
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   anuradhapura  72 non-null     float64
 1   jaffna        72 non-null     float64
 2   nuwaraeliya   72 non-null     float64
 3   year          72 non-null     object
 4   month         72 non-null     object
dtypes: float64(3), object(2)
memory usage: 3.4+ KB

In [8]:
reshaped_data.to_csv('./data/processed/rainfallData.csv', index=False)